<section id="neonSection" class="section">
  <app-section-main></app-section-main>
</section>
<section id="presentationSection" class="section">
  <app-section-presentation></app-section-presentation>
</section>
<section id="experiencesSection" class="section">
  <app-section-experiences></app-section-experiences>
</section>
<section id="competencesSection" class="section">
  <app-section-competences></app-section-competences>
</section>
<aside id="navSection">
  <app-navigation></app-navigation>
</aside>


